{% extends "base.html" %}

{% block content %}
<script>
    function del(num){
        var flag = confirm("글을 삭제하시겠습니까?");
        if(flag){
            location.href="/board/del?num="+num
        };
    }
    function edit(num){
        location.href="/board/edit?num="+num
    }
    function delreply(board_num, reply_num){
        location.href="/board/delreply?num="+board_num+"&reply_num="+reply_num;
    }
</script>
<div class="container container-md mt-5 mx-auto col-8">
    <h1 class="h4 mb-3 fw-bold border-bottom">따릉이 커뮤니티 게시판</h1>
    <p>따릉이 사용자들과의 자유로운 소통 및 서비스 문의/건의사항을 남길 수 있는 커뮤니티 게시판입니다.</p>
    {% if session['id'] == b.writer %}
    <button class="btn btn-outline-secondary my-2" onclick="edit('{{b.num}}')">게시물 수정</button>
    <button class="btn btn-outline-danger my-2" onclick="del('{{b.num}}')">게시물 삭제</button>
    {% endif %}
    <table class="table table-hover table-bordered text-center my-3">
        <tr class="table-success">
            <th class="col col-1">게시물번호</th>
            <th class="col col-4">제목</th>
            <th class="col col-1">작성자</th>
            <th class="col col-2">작성일</th>
        </tr>
        <tr>
            <td>{{b.num}}</td>
            <td class="text-start">{{b.title}}</td>
            <td>{{b.writer}}</td>
            <td>{{b.w_date}}</td>
        </tr>
        <tr>
            <td colspan="4" class="text-start" style="white-space:pre-wrap">{{b.content}}</td>
        </tr>
    </table>
    <form action="/board/reply" method="post">
        <input type="hidden" name="board_num" value="{{b.num}}">
        <table class="table table-bordered mt-3 mb-5 pb-5 col-8">
            {% if 'id' in session %}
            <tr class="table-info"><th>댓글작성</th></tr>
            <tr><td class="my-0">
                <table class="table table-borderless my-0 py-0">
                    <tr class="px-0 py-0"><td class="pb-0">
                        <textarea class="form-control" name="content" rows="2"></textarea>
                    </td></tr>
                    <tr class="px-0 py-0 d-grid justify-content-end"><td>
                        <input type="submit" class="btn btn-primary btn-outline" value="댓글입력">
                    </td></tr>
                </table>
            </td></tr>
            {% endif %}
            {% for i in r %}
            <tr class="table-secondary"><th>작성자: {{i.reply_writer}}  작성일: {{i.w_date}}</th></tr>
            <tr><td style="white-space:pre-wrap">{{i.content}} {% if session['id'] == i.reply_writer %}<a href="javascript:delreply('{{b.num}}','{{i.num}}');" style="color:red">삭제</a>{% endif %}</td></tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}