{% extends "base.html" %}

{% block content %}
<div class="b-example-divider"></div>
  <div class="container px-4 pt-5 col-8" id="icon-grid">
    <h2 class="pb-2 border-bottom fw-bold">따릉이 이용통계</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 g-4 py-5">
      <div class="col d-flex align-items-start">
        <img class="bi text-muted flex-shrink-0 me-3" src="/static/img/bicycle.png" width="45px" height="45px"/>
        <div>
          <h4 class="fw-bold mb-2"><a href="/bikedata/graph/mean_by_age" style="color:black;text-decoration:none">
              연령별 이용현황
          </a></h4>
          <p>연령대별로 따릉이 사용시간이나 운동량이 어떻게 다른지 확인해보세요.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <img class="bi text-muted flex-shrink-0 me-3" src="/static/img/day.png" width="45px" height="45px"/>
        <div>
          <h4 class="fw-bold mb-2"><a href="/bikedata/graph/mean_by_day" style="color:black;text-decoration:none">
              요일별 이용현황
          </a></h4>
          <p>일주일 중 따릉이를 가장 많이 타는 요일은 언제일까요? 지금 확인해보세요.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <img class="bi text-muted flex-shrink-0 me-3" src="/static/img/time.png" width="45px" height="45px"/>
        <div>
          <h4 class="fw-bold mb-2"><a href="/bikedata/graph/mean_by_hour" style="color:black;text-decoration:none">
              시간대별 이용현황
          </a></h4>
          <p>사람들은 몇 시에 따릉이를 가장 많이 사용하는지 확인해보세요.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <img class="bi text-muted flex-shrink-0 me-3" src="/static/img/region.png" width="45px" height="45px"/>
        <div>
          <h4 class="fw-bold mb-2"><a href="/bikedata/graph/region" style="color:black;text-decoration:none">
              지역별 이용현황
          </a></h4>
          <p>서울에서 따릉이가 가장 많이 사용되는 지역은 어디일까요? 지금 확인해보세요.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-4 pb-5 col-8" id="map-container">
    <h2 class="pb-2 border-bottom fw-bold">따릉이 보관소 설치현황</h2>
    <div id="map" style="height:400px"></div>
      <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5d34da2945d14784507058275bf085cc&libraries=services,clusterer"></script>
      <script>
        var map = new kakao.maps.Map(document.getElementById('map'), {
            center : new kakao.maps.LatLng(37.56, 126.98),
            level : 9
        });

        var clusterer = new kakao.maps.MarkerClusterer({
            map: map,
            averageCenter: true,
            minLevel: 4
        });

        $.get("/static/data/stations.json", function(data) {
            var markers = $(data.positions).map(function(i, position) {
                return new kakao.maps.Marker({
                    position : new kakao.maps.LatLng(position.lat, position.lng)
                });
            });

            clusterer.addMarkers(markers);
        });
    </script>
  </div>
</div>

{% endblock %}