<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <tr>
            <th>전체 이용자 평균 운동량</th>
            <th>전체 이용자 평균 탄소 감축량</th>
            <th>전체 이용자 평균 이동거리</th>
            <th>전체 이용자 평균 사용시간</th>
        </tr>
        <tr>
            <td>{{avg_total_list[0]}}</td>
            <td>{{avg_total_list[1]}}</td>
            <td>{{avg_total_list[2]}}</td>
            <td>{{avg_total_list[3]}}</td>
        </tr>
        <tr>
            <th>내 평균 운동량</th>
            <th>내 평균 탄소 감축량</th>
            <th>내 평균 이동거리</th>
            <th>내 평균 사용시간</th>
        </tr>
        <tr>
            <td>{{my_val_list[0]}}</td>
            <td>{{my_val_list[1]}}</td>
            <td>{{my_val_list[2]}}</td>
            <td>{{my_val_list[3]}}</td>
        </tr>
        <tr>
            <th>내 연령대 평균 운동량</th>
            <th>내 연령대 평균 탄소감축량</th>
            <th>내 연령대 평균 이동거리</th>
            <th>내 연령대 평균 사용시간</th>
        </tr>
        <tr>
            <td>{{avg_age_list[0]}}</td>
            <td>{{avg_age_list[1]}}</td>
            <td>{{avg_age_list[2]}}</td>
            <td>{{avg_age_list[3]}}</td>
        </tr>
        <tr>
            <th>내 동일 성별 평균 운동량</th>
            <th>내 동일 성별 평균 탄소감축량</th>
            <th>내 동일 성별 평균 이동거리</th>
            <th>내 동일 성별 평균 사용시간</th>
        </tr>
        <tr>
            <td>{{avg_gender_list[0]}}</td>
            <td>{{avg_gender_list[1]}}</td>
            <td>{{avg_gender_list[2]}}</td>
            <td>{{avg_gender_list[3]}}</td>
        </tr>
    </table>
</body>

</html>