{% extends "base.html" %}

{% block content %}
<script>
    function del(){
        var flag = confirm("정말로 탈퇴하시겠습니까?");
        if(flag){
            location.href="/member/del"
        }else{
            alert('탈퇴가 취소되었습니다.')
        };
    }
</script>
<div class="text-center" style="display: flex; align-items:center; height:100vh; background-color: #f5f5f5;">
    <main style="width: 100%;max-width: 330px;padding: 15px;margin: auto;margin-top:60px">
      <form class="form-signin" action="/member/edit" method="post">
        <img class="mb-4" src="/static/img/happy_icon.png" width="200">
        <h1 class="h4 mb-3 fw-bold">내 정보 수정</h1>
          <input type="text" class="form-control" id="floatingInput" name="id" value="{{mem.id}}" readonly>
          <input type="password" class="form-control" id="floatingPassword" value="{{mem.password}}" name="password">
          <input type="text" class="form-control" id="floatingInput" value="{{mem.name}}" name="name">
        <div>
            <select class="form-select" name="age">
                <option selected>{{mem.age}}</option>
                <option value="~10대">~10대</option>
                <option value="20대">20대</option>
                <option value="30대">30대</option>
                <option value="40대">40대</option>
                <option value="50대">50대</option>
                <option value="60대">60대</option>
                <option value="70대">70대~</option>
            </select>
        </div>
        <div class="form-check" style="display:flex;justify-content:center;margin-top:10px;margin-bottom:24px">
          {% if mem.gender == "M" %}
          <input class="form-check-input" style="margin-right:10px" type="radio" name="gender" id="flexRadioDefault1" value="M" checked="checked">
            남성
          <input class="form-check-input" style="margin-left:40px; margin-right:10px" type="radio" name="gender" id="flexRadioDefault1" value="F">
            여성
          {% else %}
          <input class="form-check-input" style="margin-right:10px" type="radio" name="gender" id="flexRadioDefault1" value="M">
            남성
          <input class="form-check-input" style="margin-left:40px; margin-right:10px" type="radio" name="gender" id="flexRadioDefault1" value="F" checked="checked">
            여성
          {% endif %}
        </div>
        <button class="w-100 btn btn-warning" type="submit">수정</button>
        <button class="btn btn-sm btn-danger" style="margin-top:16px" type="button" onclick="del()">회원탈퇴</button>
      </form>
    </main>
  </div>
{% endblock %}