{% extends "base.html" %}

{% block content %}
    <!--
    <h3>로그인</h3>
    <form action="/member/login" method="post">
        id:<input type="text" name="id"><br/>
        pwd:<input type="password" name="password"><br/>
        <input type="submit" value="login">
    </form>
    <a href="/member/join">회원가입</a>
    -->
    <div class="text-center" style="display: flex; align-items:center; height:100vh; background-color: #f5f5f5;">
    <main style="width: 100%;max-width: 330px;padding: 15px;margin: auto;margin-top:100px">
      <form class="form-signin" action="/member/login" method="post">
        <img class="mb-4" src="/static/img/project_logo.png" width="72">
        <h1 class="h4 mb-3 fw-bold">어서오세요!</h1>

        <div class="form-floating form-floating-padding-y-sm">
          <input type="text" class="form-control" id="floatingInput" placeholder="user_id" name="id">
          <label for="floatingInput">아이디</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="password" name="password">
          <label for="floatingPassword">비밀번호</label>
        </div>
        <div style="margin:20px 0 10px 0">
          <a href="/member/join" style="text-decoration:none; color:gray">아직 회원이 아니신가요?</a>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
      </form>
    </main>
  </div>

{% endblock %}
